* {
  padding: 0;
  margin: 0;
    background-color: rgb(241, 235, 243);
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  
}
.menu{
  width: 100vw;
  height: 3rem;
  line-height: 3rem;
  color: purple;
}
.unordered-menu{
  display: flex;
  list-style-type: none;
  position: fixed;
  width: 30%;
  right: 0;

}
.ordered-menu{
  margin: auto;
  font-family: System;
}
.heading{
  color: purple;
}
.home{
  position: absolute;
  bottom: 0%;
  right: 50%;
  display: flex;
  text-align: center;
  bottom: 20%;
}
.myimg{
  width: 400px;
  height: max-content;
  position: relative;
  border-radius: 100%;
  box-shadow: 4px 4px 5px rgb(193, 75, 193);
}
.profile{
   bottom: 20%;
   position: absolute;
   width:400px;
   background-color: purple;
   height: 1.2rem;
   line-height: 1.2rem;
}
.profile1{
  bottom: 30%;
  left: 100%;
   position: absolute;
   width: 300px;
   margin-left: 3rem;
}
.btn{
  background-color: rgb(193, 75, 193);
  border: none;
  outline: none;
  padding: 3px 6px;
  border-radius: 5px;
}
.socials{
  position: absolute;
  bottom: 8%;
  left: 50%;
  display: flex;
  text-align: center;
}
.socials-1{
  margin: auto;
}
.fab{
  color: rgb(189, 76, 209);

}
/* Projects */

.grid-container{
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.grid-item{
  width: 50vw;
  height: 60vh;
  /* background-color: navajowhite; */
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
  display: flex;
  position: relative;
}
.grid-item:hover{  
  opacity: 0.6;
  width: 50%;
  box-shadow: 3px 3px 4px rgb(19, 18, 19);
  border-radius: 10%;
  border-bottom: 1px dashed black;
}
.project-img{
  width: 50vw;
  height: 40vh;
  align-self: center;
}

.img-1{
  flex: 50%;
  width: 50vw;
  height: 40vh;

}


.project-info{
 width: 500px;
 height:10vh;
 margin-left: 60%;
 text-decoration: none;
}
.project-info:hover{
  text-align: center;
}
@media screen  and (max-width: 768px){
  .unordered-menu{
    display: flex;
    list-style-type: none;
    position: fixed;
    width: 50%;
    right: 0;
  }
  .home{
    position: absolute;
    bottom: 30%;
    right: 50%;
    display: flex;
    text-align: center;
  }
  .myimg{
    width: 300px;
    height: max-content;
    position: relative;
    border-radius: 100%;
    
  }
  .profile{
    bottom: 20%;
    position: absolute;
    width:300px;
    
 }
 .profile1{
  bottom: 20%;
  left: 100%;
   position: absolute;
   width: 300px;
   margin-left: 1rem;
}
 .socials{
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  text-align: center;
}
}
@media screen  and (max-width: 560px){
  .unordered-menu{
    display: flex;
    list-style-type: none;
    position: fixed;
    width: 80%;
    right: 0;
  }
  
  .myimg{
    width: 250px;
    height: max-content;
    position: relative;
    border-radius: 100%;
   
  }
  .profile{
    bottom: 10%;
    position: absolute;
    width:250px;
   
 }
 .profile1{
   bottom: 20%;
   right: 0%;
    position: absolute;
    width: 200px;
   
 }
 .socials{
  position: absolute;
  bottom: 5%;
  left: 70%;
  display: flex;
  text-align: center;
}
}
@media screen  and (max-width: 480px){
  .unordered-menu{
    display: flex;
    list-style-type: none;
    position: fixed;
    width: 100%;
  }
  
  .myimg{
    width: 250px;
    height: max-content;
    position: relative;
    border-radius: 100%;
  
  }
  .profile{
    bottom: 10%;
    position: absolute;
    width:250px;
    
 }
 .profile1{
   bottom: 10%;
   right: 0;
    position: absolute;
    width: 200px;
   
 }
 .socials{
  position: absolute;
  bottom: 5%;
  left: 70%;
  display: flex;
  text-align: center;
}
}
@media screen  and (max-width: 380px){
  .unordered-menu{
    display: flex;
    list-style-type: none;
    position: fixed;
    width: 100%;
  }
  
  .myimg{
    width:230px;
    height: 270px;
    position: relative;
    border-radius: 100%;
    margin-top: -1rem;
  }
  .profile{
    bottom: 10%;
    position: absolute;
    width:230px;
    
 }
 .profile1{
   bottom: 10%;
   right: 0;
    position: absolute;
    width: 150px;
   
 }
 .socials{
  position: absolute;
  bottom: 8%;
  left: 100%;
  display: flex;
  text-align: center;
}
}
.heading-1{
  margin: auto;
  text-align: center;
}
 .container-1{
   width: 100%;
   height: 100vh;
   display :flex;
   text-align: center;
 }
 .home1{
   flex: 60%;
   text-align: center;
   margin-top: 2rem;
   margin: auto;
   background-color: rgb(234, 203, 240);
   padding: 2rem;
 }
.home2{
  flex: 40%;
  width: 40%;
  margin: auto;
  
}
.home2-img{
  width: 300px;
  height: max-content;
  border-radius: 100%;
  box-shadow:  2px 2px 2px rgb(193, 75, 193);

  margin-left: 30%;

}
.skills{
  background-color: rgb(234, 203, 240);
}
.skills-set{
  text-align: left;
}
@media screen and (max-width: 1200px){
   
 .container-1{
  width: 100%;
  height: 100vh;
  display :flex;
  text-align: center;
}
.home1{
  flex: 60%;
  text-align: center;
  margin-top: 2rem;
  margin: auto;
  
  padding: 2rem;
}
.home2{
 flex: 40%;
 width: 100%;
 margin: auto;
}
.home2-img{
 width: 250px;
 height: max-content;
 border-radius: 100%;

 margin-left: 10%;

}
  }
@media screen and (max-width: 768px){
  
    .container-1{
      width: 100%;
      height: 100vh;
      display :grid;
    }
    .home1{
      flex: 100%;
    text-align: center;
    margin-top: 2rem;
    margin: auto;
  }
 .home2{
   flex: 100%;
   width: 100%;
   margin: auto;
 }
 .home2-img{
   width: 200px;
   height: max-content;
   border-radius: 100%;
 

}
@media screen and (max-width: 560x){
  
  .container-1{
    width: 100%;
    height: 100vh;
    display :grid;
  }
  
  .home1{
    flex: 100%;
    text-align: center;
    margin-top: 2rem;
    margin: auto;
  }
 .home2{
   flex: 100%;
   width: 100%;
   margin: auto;
 }
 .home2-img{
   width: 80px;
   height: 100px;
   border-radius: 100%;
   
   margin-left: 0%;
   margin-bottom: 2rem;

}
}
@media screen and (max-width: 480px){
  
  .container-1{
    width: 100%;
    height: 100vh;
    display :grid;
  }
  .home1{
    flex: 100%;
    text-align: center;
    margin-top: 2rem;
    margin: auto;
  }
 .home2{
   flex: 100%;
   width: 100%;
   margin: auto;
 }
 .home2-img{
  display: none;

}
}
@media screen and (max-width: 380px){
   
  .container-1{
   width: 100%;
   height: 100vh;
   display :flex;
   text-align: center;
 }
 .home1{
   flex: 100%;
   text-align: center;
   margin-top: 1rem;
   margin: auto;
   padding: 2rem;
   font-size: 13px;
 }
 .skills-set{
  text-align: left;
  list-style-type:circle;
  font-size: 12px;

 }
 .home2{
 display: none;
 }
 .home2-img{
  display: none;
 
 }
   }

@media screen and (max-width:1300px) {
  .project-info{
    width: 50vw;
    height:10vh;
    margin-left: 60%;
    text-decoration: none;
   }
   .project-info:hover{
     text-align: center;
   }
}
@media screen and (max-width:768px) {
  .project-info{
    width: 50vw;
    height:10vh;
    margin-left: 30%;
    text-decoration: none;
   }
   .project-info:hover{
     text-align: center;
   }
}
@media screen and (max-width:560px) {
  .project-info{
    width: 50vw;
    height:10vh;
    margin-left: 20%;
    text-decoration: none;
   }
   .project-info:hover{
     text-align: center;
   }
}
@media screen and (max-width:480px) {
  .project-info{
    width: 50vw;
    height:10vh;
    margin-left: 20%;
    text-decoration: none;
   }
   .project-info:hover{
     text-align: center;
   }
}
@media screen and (max-width:380px) {
.grid-container{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.grid-item{
  width: 80%;
  height: 300px;
  
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
  display: flex;
  position: relative;
}
.grid-item:hover{  
  opacity: 0.6;
  width: 60%;
  box-shadow: 3px 3px 4px purple;
  border-radius: 20%;
}

.img-1{
  flex: 80%;
  width: 100%;
  height: 300px;

}
.project-info{
  width: 50vw;
  height:10vh;
  margin-left: 10%;
  text-decoration: none;
 }
.project-info:hover{
  text-align: center;
}
}
